<div class="container" style="margin: auto; margin-top: 10px">
  <%= render_partial("home/header.html.erb", { slogan: slogan}) %>
  <div class="col-md-6">
    <div>
      <h2>overview</h2>
        <p>
          Have you found yourself wondering about the wonders of JAMES? Do you
          need more hulk in your life? <b>a to b</b> is here for yuo. some anons
          might describe atob as a bastard child of reddit, 4chan and hubski.
          they don't know how genetics work, but we still love them.
        </p>

        <p> 
          who or what is anon, you ask? <span class="mts"><a href="/anon">meet
          anon</a></span>.  <b>anon</b> is the voice of atob. when one shouts,
          they are shouting to anon. when one whispers, they are probably being
          ignored by anon.
        </p>

        <p>when anon is done shouting, the loudest of the topics resound in the
        hall of <span class="mts"><a href="/archives">archives</a></span>.
        </p>


    </div>

  </div>
  <div class="col-md-4">
    <h2>testimonials</h2>
    <div>
      "anon listens, when no one else does"
      <span class="rfloat">-anon</span>
    </div>

    <div>
      "its like shouting into the void"
      <span class="rfloat">-anon</span>
    </div>

    <div>
      "atob restored my eyesight"
    <span class="rfloat">-anon (probably lying)</span>
    </div>


    <h2>source code</h2>
    while atob may not be free speech, it is 
      <a href="http://github.com/atobs/atob">free software</a>
  </div>


</div>
