<% set_default("tripcode", "a") %>

<%= add_stylesheet("chat") %>

<div class="container mtl mbl recent_container clearfix">

  <div class="col-md-12">
    <%= render_partial("shared/logo_and_links.html.erb", { render_boards: function() { }, tripcode: tripcode, desaturate: true }) %>


    <%= render_recent_posts() %>
  </div>

</div>
