<% set_default("tripcode", "a") %>

<%= add_stylesheet("post") %>
<style>
  .navbar_helper {
    padding-right: 0px !important;
  }
</style>

<div class="container mtl mbl recent_container clearfix">

  <%= render_partial("home/header.html.erb", { slogan: slogan, show_hr: false}) %>

  <div class="clearfix col-md-12">

    <%= render_recent_posts() %>

  </div>
</div>
