<% set_default("title", "a new borad approaches") %>
<% set_default("boards", []) %>

<div class="container" style="margin: auto; margin-top: 10px">
  <div class="col-md-12">
    <h1>a to b</h1> 
    <hr />
  </div>

  <div class="col-md-4">
    <h2>boards</h2>
    <%= render_boards() %>
  </div>

  <div class="col-md-8">
    <h2>where things happen</h2> 

    <div>
      flipso flapso mimso ma
    </div>
  </div>

</div>

