<div class="container" style="margin-left: 10px; margin-top: 10px; margin: auto;">
  <div class="col-md-12 clearfix">
    <a href="/" class='lfloat mtl'>
      <img src="/images/atobi.png" style="width: 50px; height: 50px; border-style: none" class="mrl mtm" />
    </a>

    <h1 class='mll'>links from anon</h1>
    <hr />

    <%= render_links() %>
  </div>
</div>
