<% set_default("board_slogan", "") %>

<div class="container" style="margin-left: 10px; margin-top: 10px; margin: auto;">
  <div class="col-md-12 clearfix">
    <%= render_partial("shared/logo_and_links.html.erb", { tripcode: tripcode, hide_settings: true }) %>

    <h1 class='ptl'>/<%- images ? "gifs" : "links" %>
      <% if (board_slogan) { %>
        <small class='board_slogan'><%= board_slogan %></small>
      <% } %>
    </h1>
    <div style="margin-bottom: 40px"> </div>

    <%= render_links() %>
  </div>
</div>
