<%= add_stylesheet("home") %>

<div class="container mtl mbl recent_container">

  <%= render_partial("home/header.html.erb", { slogan: slogan }) %>

  <div class="col-md-12">
    <h2>recent posts</h2>
    <%= render_recent_threads() %>
    <h2>recent replies</h2>
    <%= render_recent_posts() %>
  </div>

</div>
