<% set_default("title", "a to b") %>
<% set_default("boards", ["a", "new", "board"]) %>

<div class="container" style="margin: auto; margin-top: 10px">
  <div class="col-md-12">
    <h1><%= title %></h1>
    <hr />
  </div>

  <div class="col-md-12 row-fluid">
    <div class="col-md-4">
    </div>
  </div>
</div>
