<% add_stylesheet("home.css") %>
<% set_default("tripcode", ""); %>

<div class="container" style="margin: auto; margin-top: 10px">

  <%= render_partial("home/header.html.erb", { show_hr: true}) %>

  <div class='col-md-12 '>
    <div class='tagcloud hidden ptl' style="text-align: center; margin: auto;">
      <%= render_boards() %>
    </div>

  </div>
</div>
