<% set_default("title", "a to b to ") %>
<% set_default("posts", [] ) %>

<div class="container" style="margin: auto; margin-top: 10px">
  <div class="col-md-12">
    <h1 class="col-md-4"><%= title %> <%= board %></h1>
    <div class="form-group col-md-4" style="margin-top: 20px">
      <input name="handle" class="form-control" type="text" placeholder="handle"></input>
    </div>
    <div class="form-group col-md-4" style="margin-top: 20px">
      <input name="tripcode" class="tripcode form-control" type="password" placeholder="tripcode"> </input>
    </div>
  </div>

  <div class="col-md-12">
    <form class="form-inline new_post">
      <div class="form-group col-md-7">
        <label for="title">Title</label>
        <input name="title" class="form-control" type="text"> </input>
      </div>
      <div class="col-md-7">
        <label for="text">Text</label>
        <textarea name="text" class="form-control col-md-4"> </textarea>
      </div>

      <div class="col-md-12">
        <button type="submit" class="mtl btn btn-default">let it be written</button>
      </div>
    </form>
  </div>

  <div class="col-md-12 mtl posts">
    <%= render_posts() %>
  </div>
</div>
