<% set_default("title", "a to b to ") %>
<% set_default("posts", [] ) %>
<% set_default("tripcode", "") %>

<div class="container mbl mtl clearfix">

  <div class="col-md-12 clearfix">
    <%= render_partial("shared/logo_and_links.html.erb", { render_boards: render_boards }) %>
    <div class="clearfix">
      <h1>/<%= board %>
        <a class="rfloat" href="#" data-toggle="collapse" data-target=".new_post">new thread</a>
      </h1>
    </div>

    <div class="col-md-12"> </div>

  </div>


  <div class="col-md-12">
    <form class="form-inline new_post collapse">
      <hr />
      <div class="col-md-12">
        <label for="title">Title</label>
        <input name="title" class="form-control" type="text"> </input>
      </div>
      <div class="col-md-12">
        <label for="text">Text</label>
        <textarea name="text" class="form-control col-md-4"> </textarea>
      </div>

      <div class="col-md-12">
        <button type="submit" class="mtl btn btn-default">let it be written</button>
      </div>
    </form>
  </div>

  <div class="col-md-12 mtl posts">
    <%= render_posts() %>
  </div>

</div>
