<% set_default("title", "a to b to ") %>
<% set_default("posts", [] ) %>
<% set_default("tripcode", "") %>

<div class="container mbl mtl clearfix">
  <div class="col-md-12">
    <div class="">
      <div class="lfloat mrl"><strong><a href="/">a to b</a></strong></div>
      <%= render_boards() %>
    </div>

    <h1>a to b to /<%= board %>
      <a class="rfloat" href="#" data-toggle="collapse" data-target=".new_post">new topic</a>
    </h1>

  </div>

  <div class="col-md-12">
    <form class="form-inline new_post collapse">
      <div class="col-md-12">
        <label for="title">Title</label>
        <input name="title" class="form-control" type="text"> </input>
      </div>
      <div class="col-md-12">
        <label for="text">Text</label>
        <textarea name="text" class="form-control col-md-4"> </textarea>
      </div>

      <div class="col-md-12">
        <button type="submit" class="mtl btn btn-default">let it be written</button>
      </div>
    </form>
  </div>

  <div class="col-md-12 mtl posts">
    <%= render_posts() %>
  </div>

  <div class="col-md-12">
    <hr />
    <h2>identity</h2>
    <input name="handle" class="form-control handle" type="text" placeholder="handle" value="anon" />
    <div class="mtl"> </div>
    <input name="tripcode" class="tripcode form-control" type="text" placeholder="tripcode" value="" />
  </div>
</div>
