<% set_default("title", "a to b to ") %>
<% set_default("posts", [] ) %>

<div class="container" style="margin: auto; margin-top: 10px">
  <div class="col-md-12">
    <h1><%= title %> <%= board %></h1>
    <hr />
  </div>

  <div class="col-md-12">
    <h2>who are yuo?</h2>
    <div class="form-group col-md-7">
      <input name="tripcode" class="tripcode form-control" type="password"> </input>
    </div>
  </div>

  <div class="col-md-12">
    <h2>start something</h2>
    <form class="form-inline">
      <div class="form-group col-md-7">
        <label for="title">Title</label>
        <input name="title" class="form-control" type="text"> </input>
      </div>
      <div class="col-md-7">
        <label for="text">Text</label>
        <textarea name="text" class="form-control col-md-4"> </textarea>
      </div>

      <div class="col-md-12">
        <button type="submit" class="mtl btn btn-default">let it be written</button>
      </div>
    </form>
  </div>

  <div class="col-md-12 mtl posts">
    <h2>add yuor pesos</h2>
    <%= render_posts() %>
  </div>
</div>
