<% set_default("title", "a to b to ") %>
<% set_default("posts", [] ) %>
<% set_default("tripcode", "") %>

<div class="container mbl mtl clearfix">
  <div class="col-md-12">
    <div class="">
      <div class="lfloat mrl"><strong><a href="/">a to b</a></strong></div>
      <%= render_boards() %>
    </div>

    <div>
    <h1>/<%= board %>
      <a class="rfloat mrl" href="#" data-toggle="collapse" data-target=".new_post">new thread</a>
    </h1>
    </div>
    <div class="col-md-12 clearfix">
      <a class="rfloat mrl" href="#" data-toggle="collapse" data-target=".settings">settings</a>
    </div>

    <div class="col-md-12"> </div>

    <div style="width: 100%" class="lfloat clearfix mtl identity_tripcode"> </div>

  </div>


  <div class="col-md-12 collapse settings clearfix">
    <hr />
    <h2>identity</h2>
    <input name="handle" class="form-control handle" type="text" placeholder="handle" value="anon" />
    <div class="mtl"> </div>
    <input name="tripcode" class="tripcode form-control" type="password" placeholder="tripcode" value=" <%= tripcode %>" />
    <div class="checkbox">
      <label>
        <input type="checkbox" name="newtrip" class="newtrip"> generate new tripcode every page
      </label>
    </div>

  </div>

  <div class="col-md-12">
    <form class="form-inline new_post collapse">
      <hr />
      <div class="col-md-12">
        <label for="title">Title</label>
        <input name="title" class="form-control" type="text"> </input>
      </div>
      <div class="col-md-12">
        <label for="text">Text</label>
        <textarea name="text" class="form-control col-md-4"> </textarea>
      </div>

      <div class="col-md-12">
        <button type="submit" class="mtl btn btn-default">let it be written</button>
      </div>
    </form>
  </div>

  <div class="col-md-12 mtl posts">
    <%= render_posts() %>
  </div>

</div>
