<% set_default("author", ""); %>
<% set_default("tripcode", ""); %>
<% set_default("text", ""); %>

<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2>atob activity</h2>
      </div>
      <div class="modal-body clearfix">
      </div>

      <div class="modal-footer mtl">
        <a href="#" data-dismiss="modal" class="btn btn-info">alright, cool</a>
      </div>
    </div>

  </div>
</div>
