.posts {
  margin-bottom: 100px;
  min-height: 100%;
}

.post_preview {
  opacity: 0.65;

  @media @device {
    display: none !important;
  }
}


.loading {
  opacity: 0.6;
  margin-top: 20px;
  overflow-x: hidden;
  max-width: 100%;

  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 400px;
  text-align: center;

  #fountainG {
    margin: auto;
  }

  h4 {
    font-size: 32px;
  }
}

.board_slogan {
  @media @device {
    position: absolute;
    left: 15px;
    top: 65px;
  }
}

.boardview {
  position: relative;
  top: -40px;
  left: -45%;
  height: 0px;

  a {
    color: #000;
    opacity: 0.3;
    text-decoration: none;

    &.active {
      opacity: 1;
    }
    &:hover {
      opacity: 0.8;
    }
  }


  @media @device {
    position: inherit;
    margin-top: -5px;
    right: 0px;
    top: 0px;
    left: 0px;
  }
}

.searchform input {
  padding: 5px;
}
