.posts {
  margin-bottom: 100px;
  min-height: 100%;
}

.post_preview {
  opacity: 0.65;

  @media @device {
    display: none !important;
  }
}


/** from http://graphicfusiondesign.com/blog/design/creating-fancy-css3-fade-in-animations-on-page-load/ **/
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:0.8; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:0.8; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:0.8; } }
 
.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.loading {
  opacity: 0.6;
  margin-top: 20px;
  overflow-x: hidden;
  max-width: 100%;

  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 400px;
  text-align: center;

  #fountainG {
    margin: auto;
  }

  h4 {
    font-size: 32px;
  }
}

.board_slogan {
  @media @device {
    position: absolute;
    left: 15px;
    top: 65px;
  }
}

.boardview {
  position: relative;
  top: -40px;
  left: -45%;

  a {
    color: #000;
    opacity: 0.3;
    text-decoration: none;

    &.active {
      opacity: 1;
    }
    &:hover {
      opacity: 0.8;
    }
  }


  @media @device {
    position: inherit;
    margin-top: -5px;
    right: 0px;
    top: 0px;
    left: 0px;
  }
}
