.hidey {
  opacity: 0.01;
  transition: opacity 2s;

  &:hover {
    opacity: 0.9;
    transition: opacity 5s;
  }
}

.ruleslink,
.replylink,
.imglink {
  color: #ff43ca;
  cursor: pointer;

  &:hover {
    color: #000;
  }
}

.linklink {
  text-decoration: underline;
}

#anons {
  position: absolute;
  z-index: 1090;
  margin-right: 10px;
  right: 5px;
  top: 85px;
  cursor: pointer;

  @media @device {
    float: right;
    position: absolute;
    left: 10px;
    margin-right: 10px;

    zoom: 1.4;
    top: 82px;
  }

}

body {
  @media @device {
    padding-bottom: 200px;
  }
}

.boardlink {
  font-size: 125%;
  min-width: 50px;
  a {
    display: block;
  }
}

.hideContent {
  height: 6em;
  display: inline-block;
  overflow: hidden;
}

.post_id,
.link_text {
  font-size: 85%;
  margin-top: 5px;
}

h1, h2, h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tripcode {
  cursor: pointer;
  float: none;
}

.anons .tripcode {
  float: left;
}

.recent_container {
  padding-top: 10px;
}

#fullpage .section.active {
  overflow: visible;
}

.stayput.header {
  position: fixed;
  top: 0px;
  margin: auto;
  width: 1170px;
  background-color: #fafafa;
  z-index: 1030;
  padding-top: 20px;

}

.logo .burtle_tripcode {
  max-height: 5px;
  height: 5px;
  width: 68px;
  position: absolute !important;
  bottom: 10px;
  left: 2px !important;
  overflow: hidden;
  zoom: 1 !important;

  div {
    height: 10px;
    width: 25%;
    float: left;
  }

}

.logo.burtled {
  .burtle_tripcode {
    left: 0px;
  }
}

.truncable {
  word-break: break-all;
}

.identity_tripcode {
  cursor: pointer;
}
