.hidey {
  opacity: 0.01;
  transition: opacity 2s;

  &:hover {
    opacity: 0.9;
    transition: opacity 5s;
  }
}

.replylink,
.imglink {
  color: #ff43ca;
  cursor: pointer;

  &:hover {
    color: #000;
  }
}

.linklink {
  text-decoration: underline;
}

#anons {
  margin-right: 15px;
  margin-top: -50px;
  position: relative;
  z-index: 1000;
}

body {
  padding-bottom: 200px;
}

.boardlink {
  font-size: 125%;
  min-width: 50px;
  a {
    display: block;
  }
}

.hideContent {
  height: 6em;
  display: block;
  overflow: hidden;
}

.post_id,
.link_text {
  font-size: 85%;
  margin-top: 5px;
}

h1, h2, h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tripcode {
  cursor: pointer;
}

.recent_container {
  padding-top: 10px;
}

.chat {
  .cmp-post {
    .post {
      border: 0px;
      padding: 0px;
      background: inherit;

      .title {
        display: none;
      }
      .op.text {
        display: none;
      }

      .restore, .see_replies, .ups, .downs {
        display: none !important;
      }

      .replies {
        max-height: 100px !important;
      }
    }

  }
}
