.hidey {
  opacity: 0.01;
  transition: opacity 2s;

  &:hover {
    opacity: 0.9;
    transition: opacity 5s;
  }
}

.replylink,
.imglink {
  color: #ff43ca;
  cursor: pointer;

  &:hover {
    color: #000;
  }
}

.linklink {
  text-decoration: underline;
}

#anons {
  margin-right: 25px;
  margin-top: -50px;

  @media @mobile {
    margin-top: -140px;
    margin-right: 5px;
  }
}

body {
  padding-bottom: 200px;
}

.boardlink {
  font-size: 125%;
}

.hideContent {
  height: 6em;
  display: block;
  overflow: hidden;
}

.post_id,
.link_text {
  font-size: 85%;
  margin-top: 5px;
}

h1, h2, h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
