.link:hover {
  background-color: #dedede; 
}

.link_text {
  a {
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;

    &.image {
      color: #ff43ca;
    }
  }

  margin-right: 200px;
  padding-left: 30px;

  @media @device {
    margin-right: 90px;
  }
}

.post_id {
  min-width: 50px;
  float: right;
  margin-top: 10px;

  @media @device {
    font-size: 85%;
    min-width: 40px;
    clear: both;
  }
}

.tripcode {
  width: 100px;
  float: left;
  margin-right: 10px;

  @media @device {
    margin-top: 10px;
    zoom: 0.7;
    margin-right: 5px;
  }

}

.container {
  margin: auto;
}

.indicator {
  position: absolute;
  margin-left: -30px;
  margin-right: 2px;
}


.numboats {
  position: relative;
  left: -15px;
  top: 15px;
  font-size: 90%;
}


.upboat {
  opacity: 0.5;
  &:hover {
    opacity: 0.8;
  }

  cursor: pointer;
}

.link {
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.board_slogan {
  @media @device {
    display: none;
  }
}
