body {
  border: 0px; 
  padding-bottom: 60px;
}

.loading {
  opacity: 0.6;
  margin-top: 20px;
  overflow-x: hidden;
  max-width: 100%;

  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 400px;
  text-align: center;

  #fountainG {
    margin: auto;
  }

  h4 {
    font-size: 32px;
  }
}

