
#RubberBandjs {
        background: #ccc;
	height: 90px;
	position: absolute;
	top: -80px;
        margin-top: -10px;
        z-index: 1040;
	width: 100%;
        text-align: center;
}
.rband {
	color: #444;;
	font-size: 14px;
	margin: 30px 0 0 0;
	text-align: center;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.rband .text {
	display: inline-block;
	font-weight: 200;
	margin: 0;
	padding: 0;
}
.rband img {
	height: 16px;
	margin-right: 20px;
	position: relative;
	top: 3px;
	width: 16px;
}
.rband .load { display: none; }
