.beeper {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.sidr {
  .beeper {
    margin-bottom: 5px;

    display: block;
    clear: both;
    width: 100%;

  }
}

.tripcode_history, .regen_tripcode {
  @media @mobile {
    width: 100%;
    clear: both;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.checkbox {
  clear: both;
}
