.beeper {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.sidr {
  .beeper {
    margin-bottom: 5px;

    display: block;
    clear: both;
    width: 100%;

  }
}

.tripcode_history, .regen_tripcode {
  @media @mobile {
    width: 100%;
    clear: both;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.tripcode_done {
  @media @mobile {
    display: none;
  }
}

.checkbox {
  clear: both;
}

.tripcode_wrapper {

  .tripcode_control {
    opacity: 0;
    color: #aaa;
  }

  &:hover {
    .tripcode_control {
      opacity: 1;
      color: blue;

      color: #428bca;
      background-color: #fafafa;
      opacity: 0.9;
      border-radius: 100%;
      zoom: 1.5;
      padding: 4px;
      margin-top: 0px;

      @media @device {
        margin-top: 6px;
        zoom: 1;
      }

    }
  }
}


.benjamin_button {
  @media @device {
    padding-bottom: 100px;
  }
}
