<div class="container mbl mtl clearfix">
  <div class="col-md-12 clearfix">
    <div class="lfloat">
      <h1 style="z-index: 1; font-size: 128px; margin-top: 200px">404</h1>
      <h2>you broke the atob</h2>
    </div>
   
    <div style="margin-left: 200px;">
      <%= render_upeye() %>
    </div>
  </div>
</div>
