<div class="clearfix">
  <% _.each(boards, function(board) { %>
    <div class="lfloat mrl">
      <a href="<%= url_for("boards.show", { id: board }) %>">/<%= board %></a>
    </div>
  <% }) %>
</div>
