<div class="clearfix">
  <% _.each(boards, function(board) { %>
    <span class='lfloat mrl boardlink' ><a href="<%= url_for("boards.show", { id: board }) %>">/<%= board %></a></span>
  <% }) %>
</div>
