<% var icons = {
  'to' : 'circletwo',
  'links' : 'link',
  'gifs' : 'picture'
} %>

<% var width = 60 / (boards.length+1) %>
<% set_default("add_new_thread", false) %>

<div class="boardlinks" >
  <% _.each(boards, function(board) { %>
    <span class='lfloat boardlink' style='width: <%= width %>%' >
      <a href="<%= url_for("boards.show", { id: board }) %>"><span class='icon-<%= icons[board] || (board.length == 1 && 'square' + board) %>'</span></a>
    </span>
  <% }) %>

  <span class='lfloat boardlink' style='width: <%= width %>%' >
    <a href="http://read.kthxb.ai" target="_blank"><span class='icon-globe'> </span></a>
  </span>

</div>

