<% set_default("slogan", "something something something") %>
<% set_default("show_hr", true) %>

<div class="col-md-12 mtl noselect">
  <div class="clearfix">
    <a href="/" class="logo">
      <img src="/images/atobi.png" style="width: 100px; height: 100px; margin-top: -20px; margin-left: -10px; border-style: none" class="lfloat" />
    </a>
    <h1 class="lfloat">a to b</h1>
  </div>
  <small class="lfloat" style="font-style: italic;"> <%= slogan %> </small>



  <%= show_hr ? "<hr />" : "" %>
</div>

