<div class="container col-sm-32">
  <h1>holy shit... icons</h2>

  <div class='col-md-12 mtl mbl'> 
    thanks to WHGH, these icons are from http://www.webhostinghub.com/glyphs/bootstrap/
  </div>

  <div>
    <%= render_icons() %>
  </div>

</div>
