<% set_default("posts", []) %>
<% set_default("archive", "p") %>

<div>
  <% _.each(posts, function(post) { %>
    <div>
      <% if (archive == "p") { %>
        /<%- post.board_id || "?" %> 
      <% } %>
      <a href="/<%= archive %>/<%= post.id %>">
        <small style='word-wrap: break-word'>
          <b class="text"><%- post.title.substr(0, 140) %></b>
          <span class="text"><%- post.text.substr(0, 140) %></span>
        </small>
      </a>
    </div>
  <% }) %>
</div>
