<% set_default("posts", []) %>

<div>
  <% _.each(posts, function(post) { %>
    <div>
      /<%- post.board_id || "?" %> 
      <a href="/p/<%= post.id %>">
        <small>
          <b class="text"><%- post.title.substr(0, 140) %></b>
          <% if (post.title) { %>
            <br />
          <% } %>
          <span class="text"><%- post.text.substr(0, 140) %></span>
        </small>
      </a>
    </div>
  <% }) %>
</div>
