<div class="container">
  <div class="col-md-offset-3 col-md-6">
    <h2>rules</h2>
    <ol>
    <li>do not post anything that violates local or US law </li>
    <li>spamming, advertising and flooding is bad times</li>
    <li>posting or aksing for dox is is ban times</li>
    </ol>
  </div>
</div>
