<% set_default("author", ""); %>
<% set_default("tripcode", ""); %>
<% set_default("text", ""); %>

<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2>formatting reference</h2>
      </div>
      <div class="modal-body clearfix">
        <div class="clearfix">
          <div class="row">
            <div class="col-xs-6 col-md-6">*italic* </div> 
            <div class="col-xs-6 col-md-6"><i>italic</i></div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-md-6">**bold** </div> 
            <div class="col-xs-6 col-md-6"><b>bold</b></div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-md-6">~~strikethrough~~ </div> 
            <div class="col-xs-6 col-md-6"><strike>strikethrough</strike></div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-md-6">[some link text](http://someurl.com)</div> 
            <div class="col-xs-6 col-md-6"><a href="http://someurl.com">some link text</a></div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-md-6">![an img text](http://someurl.com)</div> 
            <div class="col-xs-6 col-md-6">
              <a style="color: #ff43ca"href="http://someurl.com">an img text</a>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-md-6">&gt;&gt;3872</div> 
            <div class="col-xs-6 col-md-6" style="color: #ff43ca">&gt;&gt;3872</div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-md-6">#3872</div> 
            <div class="col-xs-6 col-md-6"><a href="#">#3872</a></div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-md-6">:heart: :emojigrin: :batman:</div> 
            <div class="col-xs-6 col-md-6">
              <i class="icon-heart"></i>
              <i class="icon-emojigrin"></i>
              <i class="icon-batman"></i>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-md-6">/makeme :heart:</div> 
            <div class="col-xs-6 col-md-6">turns your anonicator into a <i class="icon icon-heart"></i></div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-md-6">&gt;&gt;3862 vote3</div> 
            <div class="col-xs-6 col-md-6">votes on choice 3 in poll 3862</div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-md-6">&gt; some text</div> 
            <div class="col-xs-6 col-md-6"><span class='blockquote' style='color: #00fa12'>&gt; some text</span></div>
          </div>

          <div class="row col-md-12">
            a list of icons is available <a href="/icons">here</a>
          </div>
        </div>

        
      </div>

      <div class="modal-footer mtl">
        <a href="#" data-dismiss="modal" class="btn btn-info">alright, cool</a>
      </div>
    </div>

  </div>
</div>
