

<div class="container">
  <h1 class="col-md-8">Welcome to <b>posts</b>'s controller template</h1>

  <div class="col-md-8">
    (This main layout is located in <b>app/static//templates/controllers/posts/posts.html.erb</b>)
  </div>


  <div class="col-md-8">
    <%= render_partial("posts/shared.html.erb") %>
  </div>
</div>

