<% set_default("tripcode", "") %>

<div class="container mbl mtl clearfix">
  <div class="col-md-12 clearfix">
    <%= render_partial("shared/logo_and_links.html.erb", { render_boards: render_boards }) %>

    <a class="rfloat" href="#" data-toggle="collapse" data-target=".settings">settings</a>

    <div style="width: 100%" class="lfloat clearfix mtl identity_tripcode"> </div>


    <%= render_partial("shared/settings.html.erb", { tripcode: tripcode }) %>
  </div>

  <div class="col-md-12">



    <%= render_post() %>
  </div>

</div>
