<% set_default("tripcode", "") %>

<div class="container mbl mtl clearfix">
  <div class="col-md-12 clearfix">
    <%= render_partial("shared/logo_and_links.html.erb", { render_boards: render_boards }) %>

  </div>

  <div class="col-md-12">



    <%= render_post() %>
  </div>

</div>
