.modal {
  .modal-body {
    width: 100%;
  }

  .span2 { width: 100%; }

  .form-horizontal .controls {
    float: left;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    display: block; }


  .form-horizontal input,
  .form-horizontal textarea {
    width: 90%;
    padding: 5px;

  }
  .form-horizontal .control-label {
    padding-top: 5px;
    margin-left: 0px;
    text-align: left;
    font-weight: bold;
    width: 100%; }
}

.replypreview {
  opacity: 0.6;

  border: 3px dotted #ddd;
  padding: 5px;
  margin-top: 5px;
  width: 90%;

  @media @device {
    display: none !important;
  }
}


.starrable,
.deletable,
.editable,
.reportable {
  display: none;
}
