<% set_default("author", ""); %>
<% set_default("tripcode", ""); %>
<% set_default("text", ""); %>

<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        <h3 class="reportable">report post?</h3>
        <h3 class="editable">edit or delete post?</h3>
      </div>
      <div class="modal-body">
        <p class="small pbl">
          <span class="reportable">
            this post will be reported to <a href="/b/log">/log</a> for review.
          </span>
        </p>
    
        <div class="form-horizontal">
          <div class="control-group">
            <label class="control-label">Author</label>
            <div class="controls">
              <input type="text" class="mtm span2" name="author" value="<%= author %>"/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Tripcode</label>
            <div class="controls">
              <input type="text" class="mtm span2" name="tripcode" value="<%= tripcode %>"/>
            </div>
          </div>

        <div class="clearfix">
          <div class="edit-post collapse mtl">
            <textarea name="text" type="text" placeholder="reply"><%- text %> </textarea>
            <div class="replypreview">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer mtl">
      <a href="#" class="lfloat btn btn-success edit editable">edit</a>

      <a href="#" class="btn btn-primary delete mll reportable">report</a>
      <a href="#" class="btn btn-primary delete mll editable">delete</a>
      <a href="#" data-dismiss="modal" class="btn btn-info">nvm</a>
    </div>
    </div>
  </div>
</div>
