.op.text {
  padding: 10px;
  background-color: #eaeaea;
}

.post {
  padding: 10px;
  border: 2px solid #ddd;
  margin-top: 20px;
  margin-bottom: 20px;
  clear: both;
  background-color: #fff;
}

.restore {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.restore:hover {
  text-decoration: underline;
}

.collapse {
  transition: height 0.01s;
  -webkit-transition: height 0.01s;
  min-height: 60px !important;
  overflow: hidden;
  clear: both;
  display: block;

  form {
    display: none;
  }

  .replies {
    min-height: 50px;
  }
}

.collapse .replies.many {
  margin-top: -150px;
  overflow-y: hidden;
}

.collapsing {
  -webkit-transition: height 0.01s;
  transition: height 0.01s;
  min-height: 60px !important;
  clear: both;

  form {
    display: none;
  }

  .replies {
    min-height: 50px !important;
    overflow-y: hidden;
  }

  .replies.many {
    margin-top: -150px;
    overflow-y: hidden;
  }
}

a {
  color: #666;
}

a:hover {
  color: #888;
}

.tripcode {
  display: inline-block;
  height: 10px;
  overflow-y: hidden;
  width: 80px;
  margin-bottom: 0px;
  margin-right: 8px;
}

.replies {
  margin-top: 10px;
  min-height: 50px;
  max-height: 200px !important;
  overflow-y: scroll;
}

.replies .tripcode {
  width: 80px;
  display: inline-block;
  height: 10px;
  overflow-y: hidden;
  margin-bottom: 0px;
  margin-right: 8px;
}


// Most important
.maximize {
  .collapsing {
    height: 100% !important;
  }
  .collapse {
    height: 100% !important;
  }

  .replies {
    max-height: 100% !important;

    &.many {
      margin-top: 10px !important;
    }
  }
}

