.op.text {
  padding: 10px;
  background-color: #eaeaea;
  display: block;
}

.placeholder {
  width: 90px;
  display: inline-block;
}

.post {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid #ddd;
  margin-top: 20px;
  margin-bottom: 20px;
  clear: both;
  background-color: #fff;
}

.text {
  word-wrap: break-word;
}

.truncable {
  display: inline-block;
}

.restore {
  display: none;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.many .restore {
  display: block;
}

.restore:hover {
  text-decoration: underline;
}

.collapse {
  transition: height 0.01s;
  -webkit-transition: height 0.01s;
  min-height: 60px !important;
  overflow: hidden;
  clear: both;
  display: block;

  form {
    display: none;
  }

  .replies {
    min-height: 50px;
  }
}

.collapse .replies.many {
  margin-top: -150px;
  overflow-y: hidden;
}

.collapsing {
  -webkit-transition: height 0.01s;
  transition: height 0.01s;
  min-height: 60px !important;
  clear: both;

  form {
    display: none;
  }

  .replies {
    min-height: 50px !important;
    overflow-y: hidden;
  }

  .replies.many {
    margin-top: -150px;
    overflow-y: hidden;
  }
}

.tripcode {
  display: inline-block;
  height: 10px;
  overflow-y: hidden;
  width: 80px;
  margin-bottom: 0px;
  margin-right: 8px;
}

.replies {
  margin-top: 10px;
  min-height: 50px;
  max-height: 200px !important;
  overflow-y: scroll;
}

.replies .tripcode {
  width: 80px;
  display: inline-block;
  height: 10px;
  overflow-y: hidden;
  margin-bottom: 0px;
  margin-right: 8px;
}


// Most important
.maximize {
  .collapsing {
    height: 100% !important;
  }
  .collapse {
    height: 100% !important;
  }

  .replies {
    max-height: 100% !important;

    &.many {
      margin-top: 10px !important;
    }
  }
}

@-webkit-keyframes pulse_animation {
  0% { -webkit-transform: scale(1); }
  5% { -webkit-transform: scale(1.01); }
  10% { -webkit-transform: scale(1); }
  15% { -webkit-transform: scale(1.01); }
  20% { -webkit-transform: scale(1); }
  100% { -webkit-transform: scale(1); }
}

.pulse {
  -webkit-animation-name: 'pulse_animation';
  -webkit-animation-duration: 6000ms;
  -webkit-transform-origin:70% 70%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  box-shadow: 0px 0px 6px 2px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 6px 2px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 6px 2px rgba(119, 119, 119, 0.75);
}

.addreply {
  float: right;
}

.reply:hover {
  background-color: #eaeaea;
}

.hideContent {
  max-height: 6em;
  overflow: hidden;
}
