.op.text {
  padding: 10px;
  background-color: #eaeaea;
}

.collapse {
  min-height: 50px !important;
  overflow: hidden;
  clear: both;
  display: block;

  form {
    display: none;
  }

  .replies {
    min-height: 50px;
  }
}

.collapse .replies.many {
  margin-top: -150px;
  overflow-y: hidden;
}

.collapsing {
  min-height: 50px !important;
  form {
    display: none;
  }
  .replies.many {
    margin-top: -150px;
    overflow-y: hidden;
  }
}

a {
  color: #666;
}

a:hover {
  color: #888;
}

.tripcode {
  display: inline-block;
  height: 10px;
  overflow-y: hidden;
  width: 80px;
  margin-bottom: 0px;
  margin-right: 8px;
}

.replies {
  margin-top: 10px;
  min-height: 100px;
  max-height: 200px !important;
  overflow-y: scroll;
}

.replies .tripcode {
  width: 80px;
  display: inline-block;
  height: 10px;
  overflow-y: hidden;
  margin-bottom: 0px;
  margin-right: 8px;
}
