.op.text {
  padding: 10px;
  background-color: #eaeaea;
  display: block;
  font-size: 100%;

  .placeholder {
    width: 0px;
  }
}

.op.deletereply {
  float: right;
  margin-top: -30px;
  margin-right: 0px;
  opacity: 0.8px;
}

.highlight {
  background-color: #fafadd;
}

.placeholder {
  width: 0px;
  display: inline-block;
}

.post {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid #ddd;
  margin-top: 20px;
  margin-bottom: 20px;
  clear: both;
  background-color: #fff;
}

.text {
  word-wrap: break-word;
}

.marked.truncable {
  display: inline-block;
  cursor: pointer;
}

.reply p {
  display: block;
}

.marked {
  display: inline;
}

.reply .truncable {
  text-indent: 90px;
  margin-right: 40px;
  margin-top: -20px;
}

.restore {
  display: none;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.many .restore {
  display: block;
}

.restore:hover {
  text-decoration: underline;
}

.collapse {
  transition: height 0.01s;
  -webkit-transition: height 0.01s;
  min-height: 60px !important;
  overflow: hidden;
  clear: both;
  display: block;

  form {
    display: none;
  }

  .replies {
    min-height: 50px;
  }
}

.collapse .replies.many {
  margin-top: -150px;
  overflow-y: hidden;
}

.collapsing {
  -webkit-transition: height 0.01s;
  transition: height 0.01s;
  min-height: 60px !important;
  clear: both;

  form {
    display: none;
  }

  .replies {
    min-height: 50px !important;
    overflow-y: hidden;
  }

  .replies.many {
    margin-top: -150px;
    overflow-y: hidden;
  }
}

.tripcode {
  display: inline-block;
  height: 10px;
  overflow-y: hidden;
  width: 80px;
  margin-bottom: 0px;
  margin-right: 8px;
}

.replies {
  margin-top: 10px;
  min-height: 50px;
  max-height: 200px !important;
  overflow-y: scroll;
}

.replies .tripcode {
  width: 80px;
  display: inline-block;
  height: 10px;
  overflow-y: hidden;
  margin-bottom: 0px;
  margin-right: 8px;
}


// Most important
.maximize {
  .collapsing {
    height: 100% !important;
  }
  .collapse {
    height: 100% !important;
  }

  .replies {
    max-height: 100% !important;

    &.many {
      margin-top: 10px !important;
    }
  }
}

@-webkit-keyframes pulse_animation {
  0% { -webkit-transform: scale(1); }
  5% { -webkit-transform: scale(1.01); }
  10% { -webkit-transform: scale(1); }
  15% { -webkit-transform: scale(1.01); }
  20% { -webkit-transform: scale(1); }
  100% { -webkit-transform: scale(1); }
}

.pulse {
  -webkit-animation-name: 'pulse_animation';
  -webkit-animation-duration: 6000ms;
  -webkit-transform-origin:70% 70%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  box-shadow: 0px 0px 6px 2px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 6px 2px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 6px 2px rgba(119, 119, 119, 0.75);
}

.addreply {
  float: right;
  margin-left: 10px;
}

.deletereply {
  float: left;
  margin-left: -20px;
  margin-top: 2px;
  opacity: 0.1;
  font-size: 80%;
}

.deletereply:hover {
  opacity: 1;
}

.reply:hover {
  background-color: #eaeaea;
}

.hideContent {
  max-height: 4em;
  overflow: hidden;

  @media @device {
    max-height: 6em;
  }
}

.archived .icon-remove {
  display: none;
}

.archived .replies {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: -3px;
}

.replypreview {
  display: none;
  opacity: 0.6;

  border: 3px dotted #ddd;
  padding: 5px;
  padding-left: 15px;

  @media @device {
    display: none !important;
  }
}

.popover.right .arrow {
  top: 10px;
}

.replylink,
.imglink {
  color: #ff43ca;
  cursor: pointer;

  &:hover {
    color: #000;
  }
}

.unsafelink {
  color: #ff3300;
}

.indicator {
  cursor: pointer;
  position: relative;
  top: 2px;
  margin-right: 10px;
  left: 8px;
  color: #000;

  @media @device {
    left: 10px;
    margin-right: 15px;
  }

}

.upboat {
  opacity: 0.2;
  &:hover {
    opacity: 1.0;
    text-decoration: none;
  }
}

.boardlink {
  color: #428bca;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
