.op.text {
  padding: 10px;
  background-color: #eaeaea;
}

.collapse {
  height: 100px !important;
  overflow: hidden;
  clear: both;
  display: block;
  margin-bottom: 20px;
}

.collapse .replies.many {
  margin-top: -100px;
  overflow-y: hidden;
}

.collapsing {
  min-height: 100px
}

a {
  color: #666;
}

a:hover {
  color: #888;
}

.tripcode {
  display: inline-block;
  height: 10px;
  overflow-y: hidden;
  width: 80px;
  margin-bottom: 0px;
  margin-right: 8px;
}

.replies {
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 200px !important;
  overflow-y: scroll;
}

.replies .tripcode {
  width: 80px;
  display: inline-block;
  height: 10px;
  overflow-y: hidden;
  margin-bottom: 0px;
  margin-right: 8px;
}
