<%= set_default("author", "") %>
<%= set_default("tripcode", "") %>

<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        Board Mod-O-Matic 9000

      </div>
      <div class="modal-body">
        <p>
        You are the <s>mod</s> fuckoff of this great and wonderful bread. That
        means you have some extra powers to keep this bread toasty.  if you
        <b>report</b> any posts on this board, they will be deleted and the
        action will be reported to <a href="/b/mod">the mod log</a> </p>

        <br /><br/>

        <p>
          <marquee>more powers and config will be coming in the future</marquee>
        </p>
      </div>

      <div class="modal-footer mtl">
<!--       <a href="#" class="rfloat btn btn-success save mll">update</a> -->

      <a href="#" class="btn btn-primary cancel mll">Understood</a>
      </div>
    </div>
  </div>
</div>
