<% set_default("tripcode", null) %>
<% set_default("hide_settings", false) %>

<style>
  .identity_tripcode {
    cursor: pointer;
  }

  .logo .identity_tripcode {
    max-height: 5px;
    height: 4px;
    width: 40px;
    position: relative;
    top: -8px;
    left: 0px;
    overflow: hidden;
  }
  .navbar {
    padding-top: 10px;
    background-color: #fafafa;
    border: 0px;
  }
  #anons {
    position: absolute;
    top: 30px;
    right: 18px;
    opacity: 0.4;
    zoom: 0.8;
  }
  body:not(:-moz-handler-blocked) #anons { 
    top: 20px;
  }

  #anons:hover {
    opacity: 0.8; 
  }
  body { padding-top: 70px; }

</style>

<div class="clearfix navbar navbar-fixed-top navbar-default" role="navigation">
  <div class="clearfix container">

    <div class="mtl col-md-12">
      <div class="clearfix" style="zoom: 1.2">
        <div class="lfloat mrl logo">
        
          <strong><a href="/">
            <img src="/images/atobn.png" 
              style="width: 50px; height: 50px; margin-left: -5px; margin-top: -15px; border-style: none" 
              class="lfloat" />

          </a></strong>

          <div class="identity_tripcode"></div>
        
        </div>
        <% if (!hide_settings) { %>
          <a class="rfloat" href="#" data-toggle="collapse" data-target=".settings">settings</a>
        <% } %>

        <%= render_boards() %>
      </div>

      <div id="anons">

      </div>


      <div class="clearfix identity_tripcode" style="height: 20px; width: 100%" ></div>

      <div class='<%= hide_settings ? "hidden" : ""  %>'>
        <%= render_partial("shared/settings.html.erb", { tripcode: tripcode }) %>
      </div>

    </div>

  </div>


</div>
