<div class="clearfix">
  <div class="clearfix">

    <div class="mtl">
      <div class="lfloat mrl">
      
        <strong><a href="/">
          <img src="/images/atobi.png" 
            style="width: 50px; height: 50px; margin-left: -5px; margin-top: -15px;" 
            class="lfloat" />
        a to b
        </a></strong>
      
      </div>
      <%= render_boards() %>
    </div>
  </div>

  <hr />

</div>

