<form class="form-inline new_post collapse">
  <div>
    <hr />
    <label for="title">Title</label>
    <input name="title" class="form-control" type="text"> </input>
  </div>
  <div>
    <label for="text">Text</label>
    <textarea name="text" class="form-control col-md-4"> </textarea>
  </div>

  <div class="clearfix">
    <button type="submit" class="lfloat mtl btn btn-default"><i class='icon-pencil'> </i>write it</button>
    <div class="upload_photo lfloat mll mtl btn btn-info"><i class='icon-picture'> </i>imgur</div>

    <input type="file" class="photoupload" 
       style="visibility: collapse; width: 0px;">
    </input>
    <a href="#" class="submit mtl rfloat" display: "inline-block">i kno wut im doing</a>
  </div>

  <div>
    <div class="post_preview">
  </div>

  </div>
</form>
