<% add_stylesheet("searchbar") %>
<a class="rfloat icon-search" data-toggle="collapse" href="#searchform"> </a>
<div id="searchform" class="collapse">
  <form class="lfloat searchform">
    <input class="searchinput" placeholder="search atob..."> </input>
    <input type="submit" value="search"></input>
  </form>
</div>
