<% add_stylesheet("settings.css") %>

<div class="col-sm-12 col-md-12 collapse settings clearfix mtl mbl" style="background-color: #eaeaea">
  <h2>identity
    <small class="beeper rfloat mrl mtl mbl">
      beep me
    </small>
  </h2>

  <input name="handle" class="form-control handle" type="text" placeholder="handle" value="anon" />
  <div class="mtl"> </div>
  <input name="tripcode" class="tripcode form-control" type="text" placeholder="tripcode" value=" <%= tripcode %>" />

  <div class="checkbox lfloat mtl ptl">
    <label>
      <input type="checkbox" name="newtrip" class="newtrip"> generate new tripcode every page
    </label>
  </div>

  <div class="btn btn-primary regen_tripcode rfloat mtl mbl">
    randomize me
  </div>

  <a class="btn btn-warning tripcode_history rfloat mtl mbl mrl" href="#" data-toggle="modal"
      data-target="#benjamin_button">
    benjamin button
  </a>

</div>

<div class="modal clearfix" id="benjamin_button" tabindex="-1" role="dialog" data-backdrop="">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">benjamin buttons</h4>
      </div>
      <div class="modal-body buttons clearfix">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


