<% add_stylesheet("settings.css") %>

<div class="col-sm-12 col-md-12 collapse settings clearfix ptl pbl " style="background-color: #eaeaea">

  <div class="ptl pbl">
    <div class="buttons">
      <div class="btn btn-primary regen_tripcode rfloat mtl mbl">
        randomize me
      </div>

      <a class="btn btn-warning tripcode_history rfloat mtl mbl mrl" href="#benjamin_button" data-target=".benjamin_button">
        benjamin button
      </a>

      <a class="btn btn-info lfloat mtl mbl tripcode_done" href="#settings" data-target=".settings" data-toggle="collapse">
        done
      </a>
    </div>

    <div id="identity_container" style="width: 100%; " class="clearfix pbl ">
      <input name="handle" class="form-control handle" type="text" placeholder="handle" value="anon" />
      <div class="mtl"> </div>
      <input name="tripcode" class="tripcode form-control" type="text" placeholder="tripcode" value=" <%= tripcode %>" />

      <div class="checkbox lfloat ptl">
        <label>
          <input type="checkbox" name="newtrip" class="newtrip">change my tripcolors every page load</input>
        </label>
      </div>

      <div class="checkbox lfloat ptl">
        <label>
          <input type="checkbox" name="privtrip" class="privtrip">make my tripcolors less visible</input>
        </label>
      </div>

      <div class="checkbox lfloat ptl">
        <label>
          <input type="checkbox" name="filtercontent" class="filtercontent">filter profanity from the page</input>
        </label>
      </div>

      <div class="checkbox lfloat ptl">
        <label>
          <input type="checkbox" name="use_sidebars" class="use_sidebars">use sidebars</input>
        </label>
      </div>

      <div class="optionbox rfloat ptl clearfix">
        <label>Notify me </label>
        <select name='notify_when' class='notify_when'>
          <% _.each({
            all: "on every post and reply",
            posts: "on new posts only",
            boards: "on posts to favorite boards",
            page: "on posts to current page",
            never: "never"

          }, function(name, key) {%>
            <option value='<%= key %>'><%= name %> </option>
          <% }); %>

        </select>
      </div>

    </div>


    <div class="clearfix benjamin_button collapse" style="width: 100%; padding-bottom: 20px" >
      <%= render_partial("shared/benjamin_buttons.html.erb") %>
    </div>

  </div>
</div>
