<div style="min-height: 20px">
  <div class="profile_about" style="text-align: center; display: none">
    <b>posts:</b> <i><%= post_count %></i>
    <b>replies:</b> <i><%= reply_count %></i>,
    first posted <i class='timeago' title="<%= age %>"></i>
  </div>

  <h2>
    this is not a profile page
  </h2>

</div>

</div>
